<div class="edc-item-sheet">
  <label>Nom
    <input type="text" name="name" value="{{item.name}}">
  </label>
  <label>Valeur (+1 à +3)
    <input type="number" name="system.valeur" value="{{system.valeur}}" min="1" max="3">
  </label>
  <label>Description / conditions d'application
    <textarea name="system.description">{{system.description}}</textarea>
  </label>
</div>
