<div class="edc-item-sheet">
  <label>Nom
    <input type="text" name="name" value="{{item.name}}">
  </label>
  <label>Valeur (-1 à -5)
    <input type="number" name="system.valeur" value="{{system.valeur}}" min="-5" max="-1">
  </label>
  <label>Description / conditions d'application
    <textarea name="system.description">{{system.description}}</textarea>
  </label>
</div>
