<div class="edc-item-sheet">
  <label>Nom
    <input type="text" name="name" value="{{item.name}}">
  </label>
  <label>Quantité
    <input type="number" name="system.quantite" value="{{system.quantite}}" min="0">
  </label>
  <label>Description
    <textarea name="system.description">{{system.description}}</textarea>
  </label>
</div>
